<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Delete</title>
    </head> 

    <body>
        <main>
            <form class="product-form" action="/api/delete" method="POST">
                <div class="form-control mx-auto" style="width: 200px;">
                    <h2>Look up a user by E-mail:</h2>
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                </div>
                <button class="btn" type="submit">Delete</button>
            </form>
        </main>
    </body>

</html>