<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit</title>
    </head> 

    <body>
        <main>
            <form class="product-form" action="/api/editdetails" method="POST">
                <div class="form-control mx-auto" style="width: 200px;">
                    <label for="name">User Name</label>
                    <input type="text" name="name" id="name">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                    <label for="age">Age</label>
                    <input type="text" name="age" id="age">
                    <label for="accounttype">Account Type</label>
                    <input type="text" name="accounttype" id="accounttype">
                    <label for="balance">Balance</label>
                    <input type="text" name="balance" id="balance">
                </div>
                <button class="btn" type="submit">Confirm Edits</button>
            </form>
        </main>
    </body>

</html>