<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home Page</title>
    </head> 

    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list" class="form-select" size="3" aria-label="size 3 select sample">
                    <li class="main-header__item"><a class="active" href="home">home</a></li>
                    <li class="main-header__item"><a class="active" href="signup">Create User</a></li>
                    <li class="main-header__item"><a class="active" href="lookup">Lookup User</a></li>
                    <li class="main-header__item"><a class="active" href="editdetails">Edit User</a></li>
                    <li class="main-header__item"><a class="active" href="delete">Delete User</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="form-control mx-auto" style="width: 200px;">
                <h2>This is the home page to validate form data</h2>
                <!--Placeholder-->
            </div>
        </main>
    </body>
</html>